# Secrets to Encrypt
# ------------------
gh/.config/gh/hosts.yml filter=git-crypt diff=git-crypt
docker/.docker/config.json filter=git-crypt diff=git-crypt
*.env filter=git-crypt diff=git-crypt

# Normal Files (Optional but good for consistency)
# ------------------
* text=auto
*.sh text eol=lf
ssh/.ssh/config filter=git-crypt diff=git-crypt
ssh/.ssh/id_ed25519 filter=git-crypt diff=git-crypt
rclone/.config/rclone/rclone.conf filter=git-crypt diff=git-crypt
