[Unit]
    Description=rclone

    [Service]
    User=sean
    ExecStart=/usr/bin/rclone mount Obsidian:Obsidian /home/sean/Obsidian \
--use-server-modtime \
--no-gzip-encoding \
--allow-other \
--allow-non-empty \
--cache-read-retries 15 \
--cache-db-purge \
--buffer-size 32M \
--dir-cache-time 1000h \
--timeout 500h \
--vfs-cache-max-age 48h \
--vfs-read-ahead 256M \
--vfs-read-chunk-size 32M \
--vfs-cache-max-size 25G \
--cache-dir=/home/sean/.cache \
--vfs-cache-poll-interval 10s \
--poll-interval 10s \
--attr-timeout 20s \
--vfs-cache-mode full
    Restart=on-abort


    [Install]
    WantedBy=multi-user.target
