 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #BA7B3F;
active-foreground: #FAF0DC;
normal-background: #242221;
normal-foreground: #FAF0DC;
urgent-background: #CF8844;
urgent-foreground: #FAF0DC;

alternate-active-background: #7C5431;
alternate-active-foreground: #FAF0DC;
alternate-normal-background: #242221;
alternate-normal-foreground: #FAF0DC;
alternate-urgent-background: #242221;
alternate-urgent-foreground: #FAF0DC;

selected-active-background: #BA7B3F;
selected-active-foreground: #242221;
selected-normal-background: #BA7B3F;
selected-normal-foreground: #242221;
selected-urgent-background: #7C5431;
selected-urgent-foreground: #242221;

background-color: #242221;
background: rgba(0,0,0,0.7);
foreground: #FAF0DC;
border-color: #BA7B3F;

color0: #4A4847;
color1: #271D18;
color2: #633519;
color3: #5D3F25;
color4: #8C5C2F;
color5: #9B6633;
color6: #B4A073;
color7: #EFE2C4;
color8: #A79E89;
color9: #342620;
color10: #844622;
color11: #7C5431;
color12: #BA7B3F;
color13: #CF8844;
color14: #F0D59A;
color15: #EFE2C4;


}

